.row
  .small-2.large-12.columns
    %h1 Нотифай Ми эбаут тикетс криэйт
    %p Приложение для пуш нотификации при создании нового тикета
    %a{href: '/'} Авторизация

  .small-2.large-12.columns{style: 'margin: 56px 0px 0px 0px;'}
    - unless notice.blank?
      %p#notice
        .alert-box.success.radius{data: {alert: ''}}= notice
    = link_to 'Новый тикет', new_ticket_path

  .small-2.large-12.columns{style: 'margin: 56px 0px 0px 0px;'}
    #tickets{data: {url: tickets_url}}